.header {
  padding: 3vh 20vw;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #EBEBEB;
}


@media only screen and (max-width: 1200px) {
  .header {
    padding: 3vh 3vw;
  }
}