.header {
  padding: 3vh 20vw;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #EBEBEB;
  align-items: center;

}


@media only screen and (max-width: 1200px) {
  .header {
    padding: 3vh 3vw;
  }
}



.mobile {
  display: none;
}


@media only screen and (max-width: 600px) {
  .mobile {
    display: unset;
  }

  .desktop {
    display: none;
  }
}

.brand {
  display: inline-flex;
}

.brand span {
  color: #203656;
  font-weight: 800;
  margin-right: 15px;
  margin-top: 10px;
}